
@{
    ViewBag.Title = "Учители";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <a href="@Url.Content("~/admin/teachers/add")" class=" btn btn-outline-info"><i class="fa fa-plus"></i> Нов учител</a>
</div>

